<div class="map-name">{{mapModel.fileName}}</div>

<div class="relative-pos"
  ng-style="{height: mapModel.height * 42, width: mapModel.width * 42, top: mapModel.height * 42 - 42}">
  <div ng-repeat="column in mapModel.cells">
    <div ng-repeat="cell in column"
      class="cell-wrapper"
      ng-style="{top: -cell.y * 41, left: cell.x * 41}">
      <div class="cell-container"
             ng-style="{'background-color': cell.type.color}"
             ng-mousedown="onCellClick(cell)">
      </div>
    </div>
  </div>
</div>

<md-card id="right-pane">
    <div ng-repeat="cellType in cellTypes"
            class="cell-type"
            ng-click="selectCellType(cellType)"
            ng-class="{'cell-type-selected': cellType.label == selectedCellTypeLabel}">
        <span class="cell-type-coloured-square md-whiteframe-z1"
                ng-style="{'background': cellType.color}"></span>
        <span class="cell-type-label">{{cellType.label}}</span>
    </div>
</md-card>

<md-button id="map-download-btn"
class="md-raised">
  <a ng-attr-download="{{mapModel.fileName}}.txt">
    Download map file
  </a>
</md-button>
<md-button
  class="md-raised copy-json-btn"
  ng-click="copyMapToClipboard()">
  Copy Json
</md-button>
<div>
</div>

<md-content class="md-padding sliders-panel">
  <div layout>
    <div flex="10" layout
      layout-align="center center">
      <span>Map Width</span>
    </div>
    <md-slider flex min="10" max="26"
    ng-model="mapModel.width" aria-label="red"
    id="red-slider" class="md-warn">
    </md-slider>
    <div flex="20" layout
    layout-align="center center">
      <input type="number"
      ng-model="mapModel.width" aria-label="red"
      aria-controls="red-slider">
    </div>
  </div>
  <div layout>
    <div flex="10" layout
      layout-align="center center">
      <span>Map Height</span>
    </div>
    <md-slider flex min="10" max="20"
    ng-model="mapModel.height" aria-label="red"
    id="red-slider" class="md-warn">
    </md-slider>
    <div flex="20" layout
    layout-align="center center">
      <input type="number"
      ng-model="mapModel.height" aria-label="red"
      aria-controls="red-slider">
    </div>
  </div>
</md-content>
