<div class="map-name">{{mapModel.fileName}}</div>
<div class="main-wrapper">
  <div ng-repeat="column in mapModel.cells">
    <div ng-repeat="cell in column"
      class="cell-wrapper"
      ng-style="{top: cell.y * 41, left: cell.x * 41}">
      <gd-cell model="cell" on-click="onCellClick(cell)"></gd-cell>
    </div>
  </div>
  <a id="map-download-btn" ng-attr-download="{{mapModel.fileName}}.txt"
   class="btn btn-default" ng-style="{top: mapModel.height * 42}">
    Download map file
  </a>
  <button class="btn btn-default"
  style="position: absolute; left: 150px"
  ng-style="{top: mapModel.height * 42}"
  ng-click="copyMapToClipboard()">
    Copy Json
  </button>
</div>
