div, span {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

#map-editor-body{
    margin-left: 100px;
    margin-top: 30px;
}

.cell-container{
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.cell-wrapper {
  display: inline-block;
  position: absolute;
}

.relative-pos{
  position: relative;
}

* {
  -webkit-user-select: none;
}

.copy-json-btn{
  margin-left: 10px;
}

#map-download-btn > a {
  text-decoration: none;
}

.map-name{
  font-size: 2em;
}

.sliders-panel{
  overflow-x: hidden;
  margin-top: 5px;
  width: 70%;
}
